<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Converter</title>
</head>
<body>

<h1>Welcome</h1>
<p class="lead">Convert your database into excel and pdf files.</p>

<div id="center-div">
  <form action="/convert" method="POST">
    <div class="form-group">
      <label for="db">Database Name in Mongodb</label><br>
      <input id="inputentries" type="text" name="db" placeholder="Database" autofocus="autofocus" class="form-control"/>
    </div><br>
    <div class="form-group">
      <label for="collection">Collection Name</label><br>
      <input id="inputentries" type="text" name="collection" placeholder="Collection" class="form-control"/>
    </div>
    <br>

    <input type="submit" class="btn btn-primary" name="button" value="Convert To Excel File">
    <input type="submit" class="btn btn-primary" name="button" value="Convert To PDF File">
  </form>
</div>
<br>
<div>
<% if(isReady=="excel") {%>
<a href="/download/<%=path%>">Download Excel File</a>
<br><br>
<a href="/">Convert Another File</a>
<% } %>
<% if(isReady=="pdf") {%>
<a href="/download/<%=path%>">Download PDF File</a>
<br><br>
<a href="/">Convert Another File</a>
<% } %>
</div>


</body>
</html>



